<h1>Este es mi artista</h1>

<div class="artists-list">
  <div class="card" style="width: 18rem;">
     <div class="col-sm-5 col-md-4"><img src="<%= @artist.image_url %>" style="width:150px;"></div>
      <h1><%= @artist.name%></h1>
  </div>
  <div class="card-body">
    <a href="#"><%= link_to 'Ver Todos los artistas', '/artists', class: 'btn btn-primary' %></a>
  </div>
</div>
